@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	font-size: 14px;
	color: #4e4e4e;
	font-family: "微软雅黑", "宋体";
	background: #ffffff;
	margin: 0;
	padding: 0
}
img {
	border: none;
}
* {
	margin: 0;
	padding: 0
}
ul, li {
	list-style: none
}
a {
	color: #000;
	text-decoration: none
}
a:hover {
	text-decoration: none;
	color: #932E94
}
/*布局*/
.fl {
	float: left
}
.fr {
	float: right
}
.mb10 {
	margin-bottom: 10px
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mr5 {
	margin-right: 5px;
}
.mauto {
	margin: 0 auto
}
.img_ver {
	vertical-align: middle
}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
.w300 {
	width: 300px
}
.in_block {
	display: inline-block
}
/*颜色*/
.red {
	color: #FF0000
}
.gray {
	color: #8C8C8C
}
.c3077CB {
	color: #3077CB
}
/*字体*/
.f14 {
	font-size: 14px
}
h1 {
	font-size: 18px;
	margin-bottom: 5px
}
h2 a {
	color: #BC440F;
}
h3 {
	font-size: 14px;
	color: #BC440F;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px
}
/*容器*/
.ml20 {
	margin-left: 20px;
}
.wapwrap {
	font-size: 14px;
	margin: 0 auto;
	max-width: 100%;
	min-width: 320px;
	background: #fff;
	border: none;
	overflow: hidden
}
.wapwrap p {
	width: 90%;
	margin: 0px auto;
	padding: 10px 0;
	text-align: left;
}
.wapwrap ul {
	width: 90%;
	margin: 10px auto;
}
.wapwrap ul li {
	width: 40%;
	margin: 0 5%;
	float: left;
	text-align: center
}
.wapwrap ul li p {
	text-align: center
}
.input-append {
	width: 90%;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
}
.span2 {
	width: 80%;
	display: block;
	float: left;
	
	line-height: 20px;
	padding: 4px 6px;
	background-color: #fff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-sizing: border-box; /*Firefox3.5+*/

-webkit-box-sizing: border-box; /*Safari3.2+*/

-o-box-sizing: border-box; /*Opera9.6*/

-ms-box-sizing: border-box; /*IE8*/

box-sizing: border-box;
}
.add-on {
	margin-left: -5px;
	display: inline-block;
	width: 20%;
	
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	-moz-box-sizing: border-box; /*Firefox3.5+*/

-webkit-box-sizing: border-box; /*Safari3.2+*/

-o-box-sizing: border-box; /*Opera9.6*/

-ms-box-sizing: border-box; /*IE8*/

box-sizing: border-box;
}
ul.pagination {
	margin: 0 auto;
	text-align: center;
	width: 300px;
}
ul.pagination li {
	border: 1px solid #ddd;
	float: left;
	width: 30px;
	height: 30px;
	margin: 10px 0;
	line-height: 30px;
}
.modal-dialog {
	background: #fff;
	border-radius: 4px 4px 0 0;
	padding-bottom: 20px;
	width:90%;
}
.modal-header {
	border-radius: 4px 4px 0 0;
	background: #f8f6f7;
	border: 1px solid #eeeeee;
	padding: 9px 15px;
	text-align: left;
}
.modal-footer, .modal-body {
	padding: 0 10px;
}
.modal-title {
	font-size: 18px;
}
.close {
	color: #000000;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	opacity: 0.2;
	text-shadow: 0 1px 0 #ffffff;
	background: #fff;
	border: 0 none;
	cursor: pointer;
	padding: 0;
}
.modal-footer::before, .modal-footer::after {
	content: "";
	display: table;
	line-height: 0;
}
.btn {
	width: 100%;
	display: inline-block;
	padding: 10px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #0085d0;
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #0044cc;
	color: #fff;
	text-decoration: none;
}
.modal-body {
	padding: 10px;
}
.input-hqyzm {
	border: 1px solid #c3c3c5;
	height: 50px;
	line-height: 50px;
	border-radius: 4px;
	width: 65%;
	float: left;
	-moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box; 
	
}
.btn-hqyzm {
	background: #ff7c00;
	border: 1px solid #ff7c00;
	color: #fff;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	margin-top: 8px;
	text-align: center;
	border-radius: 4px;
	width: 30%;
	float: right;
}
.input-mm {
	border: 1px solid #c3c3c5;
	border-radius: 4px;
	height: 50px;
	line-height: 50px;
	width: 103%
}
@media screen and (max-width:480px) {
.input-hqyzm {
	height: 30px;
	line-height: 30px;
	width: 48%;
}
.btn-hqyzm {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	width: 48%;
	margin-top: 0px
}
.input-mm {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
}
.ewmxq{ padding-top:20px;}
.ewmxq img{ border:2px solid #aacddb; padding:2px;}
.ewmxq p{ color:#9f9f9f; font-size:22px; text-align:center;}
.ewmbox{ border-top:1px solid #e4e4e4; background-color:#f7f7f7 ; padding-top:20px; }
.ewmtext{ background:#fff;}
.ewmtext h3{ font-weight:normal; font-size:24px; color:#0081d2; text-align:left; padding:20px 10px 0; margin-top:0px; }
.ewmtext p{ color:#9f9f9f; font-size:14px; line-height:25px;}
.goback{ margin-top:10px; padding-bottom:30px;}